{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ring/ring-core {:mvn/version "1.9.3"}
        ring/ring-jetty-adapter {:mvn/version "1.9.3"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "com.applicative.finch"]}
  :run-x {:ns-default com.applicative.finch
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "finch.jar"
                        :main-class "com.applicative.finch"
                        :sync-pom true}}}}
